In [1]:
#Swap values
x =1
y = 5
x,y = y,x

In [2]:
y

1

In [3]:
x

5

In [5]:
#zip
l = ('abc','sd','ds','d')
a = (3,2,2,1)

In [12]:
list(zip(l,a))

[('abc', 3), ('sd', 2), ('ds', 2), ('d', 1)]

In [14]:
for item in zip(a,l):
    print(item)

(3, 'abc')
(2, 'sd')
(2, 'ds')
(1, 'd')

In [ ]:
#taking two inputs

name,age = input('Enter you name and age :').split()
print(f"your name is {name}")
print(f'your age is {age}')

In [41]:
a = [34,56,66,44,4]
a.sort()
a

[4, 34, 44, 56, 66]

In [60]:
#capitalize, lower,upper,find
ba = ("whaac DJDAN dijdidDdjdjd") 
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [78]:
#join function
myTuple = ("John", "Peter", "Vicky")
print('+'.join(myTuple))

John+Peter+Vicky

In [76]:
#reverse
a = ('vitalik ether')
a[::-1]

'rehte kilativ'

In [79]:
n = 10
result = 1 < n < 20
print(result)
result = 1 > n <= 9
print(result)

True
False

In [81]:
test = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4]
print(min(set(test), key = test.count))

1

In [82]:
#Storing Values of list in new variable
x = [45,67,95,4]
a,b,c,d = x

In [83]:
a

45

In [84]:
b

67

In [85]:
d

4

In [6]:
def myfunc(n):
  return lambda a : a * n
myfunc(3)

In [5]:
myfunc(3)